/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* NavBar CSS Starts */

.navBar {
  background-color: rgba(52, 51, 51, 0.5);
  float: right;
  width: 100%;
  height: 9.5%;
  position: fixed;
  z-index: 111;
  margin: 0px auto;
}

.nav_img{
  width: 50%;
  height: 60%;
  transform: translate(50%, 20%);
}

.list {
  display: flex;
  list-style: none;
  float: right;
  margin-bottom: -.1px;
}

.i{
  padding: 0.5rem;
  margin: .3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white !important;
  position: relative;
  /* padding-bottom: 5px; */
  letter-spacing: 1.5px;
  width: max-content;
  outline: none;
  border: none;
}


.nav-link{
  border: none !important;
  outline: none;
  text-decoration: none;
}

.i::after {
  content: '';
  width: 80%;
  background-color: white;
  position: absolute;
  margin: 0px auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0px;
  transform: scale(0);
  border-radius: 3px;
  transition: transform 0.5s ease-in-out;
}

.i:hover::after, .i1:hover .SubMenu::before {
  transform: scale(1);
  height: 3px;
}


.Logo {
  color: white;
  font-size: 18px;
  padding: 20px;
}

/* NavBar CSS Over */

.bg_img {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 6rem;
}
.Center {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.Title {
  color: black;
  font-size: 4rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  width: max-content;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.Btn {
  margin-top: 1rem;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  font-size: 18px;
  color: black;
  letter-spacing: 1.5px;
  outline: none;
  border-radius: 30px;
  border: 2px double white;
  background: rgba(44, 38, 38,0.5);
  transition: all 0.4s ease-in;
  padding-left: 20px;
  padding-right: 20px;
}
.facilities{
  display : grid;
  grid-template-columns: 650px 650px;
  grid-template-rows: 400px 400px;
  text-align: center;
  padding: 30px;
  column-gap: -10px;
  row-gap: -10px;
  position: relative;
  /* height: 90%;  */
   width: 100%;
  background-color: #eeee;
}

.facilities h1{
  transform: translateY(-500%);
}

.grid_img{
  /* position: relative; */
  /* position: absolute; */
  width: 600px;
  height: 330px !important;

}
.rotet{
  position: relative;
  perspective: 1000;
  width:600px;
  height:330px !important;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  backface-visibility: hidden;
  /* background-color: beige; */

}
.rotet:hover .front{
  transform: rotateY(180deg);
}

.rotet:hover .back{
  transform: rotateY(0deg);

}

.front{
  position: absolute;
  /* backface-visibility: hidden; */
  width:100%;
  height: 330px;
  /* overflow:hidden ; */
  /* height:80%; */
  /* background: #ffc728; */
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  backface-visibility: hidden;
  
}
.back{

  position: absolute;
  width:100%;
  height:330px;

  /* height:80%; */
  /* backface-visibility: hidden; */
  background: #030303;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  backface-visibility: hidden;
  text-align: center;
  
  
}
.back h1{ 
  transform: translateY(400%);  
  color: white;
  transform: translate(0px , 14px); 
  text-align: center;
} 

.body{
  background-color: azure;
  padding-top: 5%;
  padding-bottom: 5%;
}
.card{
  display : grid;
  grid-template-columns: auto auto;
  text-align: center;
  padding-left: 4.2rem;


}
.x{
  overflow : hidden;
  height: 50%;
  width : 90%;
}
.y {
  height: 50%;
  width : 90%;
}
.Activity{
  width: 595px;
  overflow : hidden;
  text-align : center;
  box-shadow: 0px 0px 10px -5px;
  background-color: #fafafa;
}
.Activity   p{
  padding: 14px 40px;
  letter-spacing: 2px;
}
.Activity   h1{
  padding: 14px 40px;
  letter-spacing: 4px;
}
.Event{
  width: 585px;
  overflow : hidden;
  text-align : center;
  box-shadow: 0px 0px 10px -5px;
  background-color: #fafafa;
}

.Event p{
  padding: 14px 40px;
  letter-spacing: 2px;
}

.Event  h1{
  padding: 14px 40px;
  letter-spacing: 4px;
}

.Event a:active , .Event a, .S_btnn{
  text-decoration: none;
  color: black;
  background-color: burlywood;
  padding: 10px;
  border-radius: 10px;
}
.Event a:hover{
  /* color :black; */
  background-color: burlywood;
}
.Photo_Gallary{
    align-items: center;
    /* margin: 20px auto; */
    padding: 50px;
    width: 100%;
}

.pg{
  display: flex;
}
.pg h1{
  transform: translateY(10%);
  margin-left: 20px;
}

 /* .photo_grid{
  
  display : grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 400px 400px;
  text-align: center;
  padding: 30px;
  column-gap: 200px;
  row-gap: 300px;
  position: relative;
 
}  */


/* login css  */
/* LogIn page CSS Starst  */

.Outer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  border-radius: 10px;
  width: 30%;
  height: 75%;
  background-color: rgb(236, 241, 245);
  border: 2px solid black;
  transition: all .2s ease-in-out;
  padding: 20px;
  z-index: 1;
}

.Outer:hover{
  box-shadow: 5px 5px 15px rgb(48, 48, 48);
}

.Inner{
  /* text-transform: uppercase; */
  font-size: 25px;
  text-align: center;
  width: 100%;
}

.contactDiv{
  /* margin: 20px; */
  margin: 0px auto;
  width: 100%;
  /* color: blue; */
}

.Row{
  width: 100%;
}

.loginStyle{
  width: 100%;
}

.loginStyle form{
  width: 100%;
  /* margin: 0px auto; */
}


.input_div1, .input_div2{
  width: 100%;
  padding: 20px;
}

.input_div1 label, .input_div2 label{
  font-size: 17px;
  margin-left: 2px;
  overflow: hidden;
  transition: all 1s ease;
  width: fit-content;
  height: 30px;
}

.input_div1 label:hover, .input_div2 label:hover{
  font-size: 18px;
  font-weight: 500;
}

.input_div1 input, .input_div2 input{
  width: 100%;
  /* background-color: white; */
  outline: none;
	border: none;
	width: 330px;
	padding: 15px;
	border-radius: 10px;
	background-color: #e2e8f4;
	margin: 5px 0;
	font-size: 14px;
}

.login_out{
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.loginB{
  width: 33%;
  padding: 10px;
  margin: 0px auto;
  font-size: 18px;
  text-align: center;
  outline: none;
  border:none;
  background: linear-gradient(to right bottom, rgb(106, 106, 238), rgb(238, 132, 106));
  border-radius: 2px;
  color: white;
}

.loginB:hover{
  background: linear-gradient(to right bottom, rgb(238, 132, 106),rgb(106, 106, 238));
}

.ask{
  text-align: center;
}

.reg{
  text-decoration: none;
  outline: none;
  font-size: 17px;
}

.reg:hover{
  border-bottom: 2px solid rgb(130, 167, 248);
}

.shape_up{
  width: 400px;
  height: 400px;
  background-color: rgb(106, 106, 238);
  border-radius: 50%;
  float: right;
  position: relative;
  transform: translate(-90%,85%);
  opacity: 1;
  transition: all 2s ease-out;
  z-index: -1111;
}

.s_up{
  opacity: 1;
}

.shape_down{
  width: 400px;
  height: 400px;
  background-color: rgb(238, 132, 106);
  border-radius: 50%;
  float: right;
  /* position: relative; */
  z-index: -1111;
  transform: translate(-90%,15%);
  opacity: 1;
  /* transition: all 2s ease-out; */
}




/* SignUp CSS Starts */

.register_outer{
  min-width: 100%;
  min-height: 100vh;
  /* position: relative; */
  /* border: 10px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  z-index: 1;
}

.register_inner:hover{
  box-shadow: 5px 5px 15px rgb(48, 48, 48);
}

.register_inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
  min-height: 70%;
  /* border: 10px solid green; */
  background-color: rgb(236, 241, 245);
  border: 2px solid black;
  transition: all .2s ease-in-out;
  padding: 30px;
  z-index: 1111;
  border-radius: 10px;
}

.title_SignUp{
  text-align: center;
  width: 100%;
  padding: 5px;
}

.r_name label, .r_email label, .r_password label{
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 2px;
  overflow: hidden;
  transition: all 1s ease;
  width: fit-content;
  height: 30px;
  display: block;
}

.r_name label:hover, .r_email label:hover, .r_password label:hover{
  font-size: 18px;
  font-weight: 500;
}

.r_name input, .r_email input, .r_password input{
  /* background-color: white; */
  outline: none;
	border: none;
	min-width: 100%;
	padding: 15px;
	border-radius: 10px;
	background-color: #e2e8f4;
	/* margin: 5px auto; */
	font-size: 14px;
}

.registerD{
  text-align: center;
  margin: 30px;
}

.registerB{
  min-width: 33%;
  padding: 10px;
  margin: 0px auto;
  font-size: 18px;
  text-align: center;
  outline: none;
  border:none;
  background: linear-gradient(to right bottom, rgb(106, 106, 238), rgb(238, 132, 106));
  border-radius: 2px;
  color: white;
}

.registerB:hover{
  background: linear-gradient(to right bottom, rgb(238, 132, 106),rgb(106, 106, 238));
}

.backToLogin{
  text-align: center;
}

.backToLogin a{
  text-decoration: none;
  outline: none;
  font-size: 17px;
}

.backToLogin a:hover{
  border-bottom: 2px solid rgb(130, 167, 248);
}


/* Contatc Us page CSS Starts */

.back_image, .about_us_outer{
  background-image: linear-gradient(to right, rgba(218, 215, 215, 0.2), rgba(74, 47, 249, 0.5)) , url('https://static.wixstatic.com/media/988d2f_bdb73d411a0a4ce6b46066ae9424aff0~mv2.jpg/v1/fill/w_640,h_322,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/988d2f_bdb73d411a0a4ce6b46066ae9424aff0~mv2.jpg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.admission h1 {
  position: relative;
  text-align: center;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  z-index: 99;
}


.back_image h1, .about_us_outer h1{
  display: block;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -100%);
  color: white;
  font-size: 45px;
}

.contact_outer{
  min-width: 100%;
  height: 450px;
  /* border: 10px solid red; */
}

.contact_inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 50%;
}

.contact_name label, .contact_email label, .contact_message label{
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 2px;
  overflow: hidden;
  transition: all 1s ease;
  width: fit-content;
  height: 30px;
  display: block;
}

.contact_name input, .contact_email input, .contact_message textarea{
  outline: none;
	border: none;
	min-width: 100%;
	padding: 15px;
	border-radius: 10px;
	background-color: #e2e8f4;
	/* margin: 5px auto; */
	font-size: 14px;
}

.submitDiv{
  width: 100%;
  text-align: center;
}
/* // contact css  */

.contact_submit{
  width: 30%;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  background-color: rgb(71, 38, 253);
  color: white;
  outline: none;
  border: none;
}

.contact_submit:hover{
  background-color: rgba(71, 38, 253, 0.8);
}



/* beforelogin */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.link_class {
   color: white;
   font-size:20px ;
   text-decoration: none;
   height: 10px;
}
.landing_img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
}
.st_input_class{
  height: 70px;
}
.mod_input_class{
  height: 50px;
}
.stregis_incls{
  height: 55px;
}
.title_style{
  height: 70px;
  background: linear-gradient(90deg, rgba(79,99,205,1) 2%, rgba(151,111,91,1) 42%, rgba(73,214,137,1) 76%, rgba(182,130,80,1) 93%);
  border-radius: 15px;
 margin-bottom: 20px;
 text-align: center;
 color: #f2f4f6;
 font-weight: bolder;
 
}

.input-field{
  height: 50px;
  width: 240px;
  margin-left: 100px;
  background-color: rgb(84, 115, 181);
}
#selectId{
  height: 35px;
}

.btn_regis{
  height: 50px;
  margin-left: 10px; 
}
.edit_profile{
  text-decoration: none;
  position:  absolute;
 
  margin-left: 209px;
  
    margin-top: -62px;
  
}

.mark_button{
  height: 40px;
 
  background-color: aqua;
}

 
/* facilities */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/* .c{
  color: green;
  font-size: 20px;
} */

#idd{
  color: red;
  font-size: 30px;
  text-shadow: 3px 3px 3px blue;
}

/* From here */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  clear: both;
  /* flex-direction: row; */
  /* grid-template-columns: auto auto; */
  /* margin-top: 20px; */
}

.left{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 35%;
  /* border: 2px solid red; */
}

.left img{
  width: 100%;
  height: 50%;
}

.right{
  /* border: 2px solid rgb(0, 17, 255); */
  width: 65%;
  /* height: 100vh; */
  transform: translate(54%,7%);
}

.right .title{
  margin: 10px;
  padding: 5px;
  background-color: brown;
}

.data_outer{
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(5%);
}

/* .f1, .f2, .f3, .f4, .f5{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  background-color: red;
} */
.f{
  margin: 10px;
}

.d{
  width: 90%;
  border: 1px solid black;
  height: 200px;
  background-color: #e0afc8;
}

.photo_grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* grid-template-rows: auto auto; */
  /* column-gap: 10px; */
}

/* Footer CSS Starts */

.Footer {
  /* background: linear-gradient(to right, rgb(16, 183, 254), rgb(171, 223, 247)); */
  /* background: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(to right bottom, rgba(49, 49, 49, 0.4), rgba(49, 49, 49, 0.4)), url('https://media.istockphoto.com/photos/luxurious-beautiful-modern-villa-with-front-yard-garden-at-sunset-picture-id1283532082?b=1&k=20&m=1283532082&s=170667a&w=0&h=KxQ3cfMs-Xi7FL2TXfrgFbi9pwtBOdjSEc4-ufAeVlo=');
  /* background-position: center; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: fit-content;
  background-origin: content-box;
  background-attachment: fixed;
  /* color: white; */
}

.box {
  position: relative;
}

.upper {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  /* column-gap: 10px; */
  padding: 0px;
  margin: 0px auto;
}

.call_us,
.mail_us {
  margin: 0px auto;
  display: flex;
  background-color: rgba(240, 237, 237, 0.7);
  color: blue;
  padding: 10px;
  width: 80%;
}

.call_us {
  width: 95%;
}

.call_us i,
.mail_us i {
  transform: scale(1.5);
  /* overflow: hidden; */
  margin: auto 5px;
}

.call_outer,
.mail_outer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  /* width: 90%; */
}

.call_outer p,
.mail_outer p {
  margin: 2px;
  color: black;
}

.logo {
  width: 5%;
  height: 3%;
}

.lower {
  width: 100%;
  height: 310px;
  background-color: rgba(24, 24, 24, 0.5);
  display: flex;
  margin: 0px auto;
  color: white !important;
}

section {
  /* padding: 15px; */
  width: 95%;
  height: fit-content;
  margin: 10px;
  color: white !important;
  /* margin: 0px auto; */
  /* text-align: center; */
}

section img {
  width: 200px;
  height: 100px;
  margin: 10px;
}

section .about {
  /* background-color: rgba(240, 237, 237, 0.7); */
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  width: 95%;
  padding: 2px;
  margin: 10px;
}

.icons {
  display: flex;
  margin: 10px auto;
  margin: 10px;
  background-color: rgba(240, 237, 237, 0.7);
  width: fit-content;
}


.icons i {
  margin: 15px;
  transform: scale(1.5);
  width: fit-content;
  cursor: pointer;
}

.useful_link {
  width: 95%;
  margin: 0px auto;
  margin: 10px;
  text-align: center;
}

.useful_link p {
  color: white;
  font-size: 24px;
  /* text-align: center; */
  width: 100%;
  letter-spacing: 2px;
  margin: 0px auto;
  margin-top: 20px;
}

.useful_link ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  height: fit-content;
  /* margin: 10px; */
}

.useful_link ul li {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin: 5px auto;
  letter-spacing: 3px;
  cursor: pointer;
}

.useful_link a{
  text-decoration: none;
  /* font-size: 30px; */
  color: white;
}

.subs {
  width: 95%;
  padding: 10px;
  margin: 10px;
}

.sub {
  color: white;
  font-size: 24px;
  text-align: center;
  /* width: 100%; */
  letter-spacing: 2px;
  margin-top: 20px;
}

.subs_info {
  color: white;
  font-size: 18px;
  /* text-align: center; */
  /* width: 100%; */
  letter-spacing: 2px;
  margin-top: 20px;
}

.subs input {
  outline: none;
  margin-top: 20px;
  width: 50%;
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
}

.subs input::placeholder {
  /* transform: scale(1.3); */
  padding: 10px;
}

.subs button {
  width: 20%;
  color: white;
  background-color: black;
  height: 35px;
  margin: 20px;
  font-size: 17px;
}

.footer_image {
  /* background-color: red; */
  width: max-content;
  height: 100%;
  float: right;
  transform: translate(-10%, -15%);
  /* z-index: -1; */
}

.footer_image img {
  width: 100%;
  height: 50%;
  /* z-index: -1; */
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 55% 75%, 31% 100%, 31% 75%, 0% 75%);
  transition: clip-path 1s ease-in-out;
}

.footer_image img:hover {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 0 0, 0 0, 0 0);
}

