/* /* .Admissionpage {
    background-color: #f5f5f5;
    background-size: 100% 100%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.form-title {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-left: 475px;
    color: #000;
    padding: auto;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.i {
    margin-right: 100px;
    font-size: 20px;
    justify-content: left;
    margin-top: center;
}
.form-group input {
    width: 50%;
    border: 1px solid #000;
    /* margin: 10px; */


/* margin-left: 300px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
} */

.button {
    margin: 20px;
    text-align: center;
}

.images {
    text-align: right;
}

*/ body {
    margin: 0px;
    padding: 0px;
    font-family: Abel, sans-serif;
}


/* .bg-image {
    background-image: url(https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80);
    bakground-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.8;
} */

.admission {
    background-color: #B58051;
    width: 100%;
    position: absolute;
    width: 100%;
    height: auto;
}

h1 {
    position: relative;
    text-align: center;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    z-index: 99;
}

#description {
    text-align: center;
    color: #fff;
    font-family: Abel, sans-serif;
    font-size: 18px;
    z-index: 99;
}

#form {
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 40vw;
    background-color: white;
    border-radius: 0px 25px 0px 25px;
    z-index: 99;
}

.input-text,
.input-number,
.textarea {
    width: 90%;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #B58051;
}

label,
form p {
    font-size: 18px;
    font-weight: bold;
    color: #B58051;
    margin-bottom: 10px;
    margin-top: 30px;
}

form placeholder {
    font-size: 10px !important;
}

.radio-label {
    color: #000;
    font-size: 15px;
}

#submit {
    background-color: #B58051;
    border: 0px;
    padding: 10px 25px 10px 25px;
    margin-top: 30px;
    border-radius: 5px;
    color: #fff;
}

#submit:hover {
    background-color: #fff;
    color: #000;
}

h5 {
    color: #B58051;
    font-size: 18px;
    font-weight: bold;
} 
